  <body>
   <div ng-controller="DiogenisFaqCtrl">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Diogenis</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li ng-show="isUserLoggedIn">
              <a class="navbar-brand" href=""> {{fullName}}</a>
            </li>
            <li ng-show="isUserLoggedIn">
              <a href="/#/logout">Έξοδος <span class="icon-bar fa fa-sign-out"> </a> </span>
            </li>
            <li ng-show="!isUserLoggedIn">
              <a href="/">Αρχική Σελίδα <span class="icon-bar fa fa-home"> </a> </span>
            </li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
    </br>
    </br>
    </br>
    </br>


    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3" >

          <h1>Συχνές ερωτήσεις και απαντήσεις</h1>
          <hr/>
          <h2>Καθηγητές</h2>
          <hr/>
          <h1>Ποιούς browser/φυλλομετρητές ιστών υποστηρίζει η υπήρεσία</h1>
          <p>Η υπηρεσία υποστηρίζει τους παρακάτω browser/φυλλομετρητές ιστών<p>
          <ol>
            <li><p>Chrome</p></li>
            <li><p>Firefox</p></li>
            <li><p>Internet Explorer 10 έκδοση ή μεγαλύτερη. <b>ΠΡΟΣΟΧΗ: Οι προηγούμενες εκδόσεις (<10) δεν υποστηρίζονται!</b></p></li>
          </ol>

          <h1>Πώς μπορώ να αναβαθμίσω τον browser/φυλλομετρητή ιστού μου</h1>
          <p>Για οδηγίες για το πως μπορείτε να αναβαθμίσετε τον browser/φυλλομετρητή ιστού σας πηγαίνεται στην παρακάτω σελίδα </p>
          <p> <a href="http://browsehappy.com">http://browsehappy.com/ </a></p>

          <h1>Πώς δημιουργώ ένα καινούργιο εργαστήριο</h1>
          <p>Η δημιουργεία ενός καινούργιου εργαστηρίου γίνεται με την παρακάτω διαδικασία<p>
          <ol>
            <li><p>Πηγαίνετε στην καρτέλα εργαστήρια</p></li>
            <li><p>Συμπλιρώνετε στα στοιχεία της φόρμας</p></li>
            <li><p>Πατάτε στο κουμπί "Δημιουργεία εργαστηρίου"</p></li>
          </ol>
          <h1>Πώς μεγαλώνω το μέγεθος ενός εργαστηρίου</h1>
          <p> Το μέγεθος του εργαστηρίου είναι ενδικτικό και δεν μπορεί να αλλάξει.
              Δηλαδή στην αρχή μπορούμε να βάλουμε x άτομα, μόλις γεμίσει το εργαστήριο,
              δηλαδή αυτές οι x θέσεις, μπορούν να γραφτούν και άλλοι φοιτητές.
              Δηλαδή το εργαστήριο δεν κλειδώνει. Οι φοιτητές που περισεύουν, γράφονται
              κανονικά στο εργαστήριο και πέρνουνε κανονικά απουσίες.
              Απλά στην καρτέλα τμήματα θα υπάρχει η ένδειξη "Αίθουσα Αναμονής".
              Η οποία δηλώνει στον καθηγητή ποιοι φοιτητές γράφτηκαν πρώτoi.

              Εαν υποθέσουμε ότι ένα κανονικό εργαστήριο χωραέι x φοιτητές,
              και εχούν γραφτεί x + 10 φοιτητές, ο καθηγητής μπορεί να καταλάβει ποια ήταν οι πρώτοι χ φοιτητές
              και οι υπόλοιποι 10, είναι στην κρίση του Καθηγητή το τι θα κάνει με αυτούς.
              Μπορεί να τους μετακινήσει σε άλλο εργαστήριο ή να τους αφίσει σε αυτό.
          </p>

          <h1>Πώς μπορώ να τροποποιήσω ένα εργαστήριο εργαστήριο</h1>
          <p>Η τροποποίηση ενός εργαστηρίου γίνεται με την παρακάτω διαδικασία<p>
          <ol>
            <li><p>Πηγαίνετε στην καρτέλα εργαστήρια</p></li>
            <li><p>Πατάτε στο κουμπί "Διαγραφή εργαστηρίου"</p></li>
            <li><p>Ξαναδημιουργείτε το εργαστήριο</p></li>
          </ol>

          <h1>Υπάρχει κάποιο σφάλμα στην υπηρεσία ή χρειάζομαι βοήθεια στο χ αντικείμενο, τι κάνω? </h1>
          <p>Για οποιοδείποτε πρόβλημα/απορία παρακαλώ επικοινωνήστε μαζί μας με την παρακάτω φόρμα. <a href="/#/help">(κάντε click εδώ)</a></p>
          <p>Έαν υπάρχει κάποιο σφάλμα με την υπηρεσία, παρακαλώ ακολουθήστε τις παρακάτω οδηγίες</p>
          <p>Για να μπορέσουμε να σας βοηθήσουμε καλύτερα παρακαλώ ακολουθήστε τα παρακάτω βήματα</p>
          <ol>
            <li><p>Προσπαθήστε να μας περιγράψετε το πρόβλημα που υπάρχει</p></li>
            <li><p>Συμβαίνει πάντα?</p></li>
            <li><p>Τι browser/φυλλομετρητή ιστού χρησιμοποιείται</p></li>
          </ol>

        </div>

      </div><!--/row-->

    </div><!--/.container-->
  </body>

