  <body>
   <div ng-controller="DiogenisHelpCtrl">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Diogenis</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li ng-show="isUserLoggedIn">
              <a class="navbar-brand" href=""> {{fullName}}</a>
            </li>
            <li ng-show="isUserLoggedIn">
              <a href="/#/logout">Έξοδος <span class="icon-bar fa fa-sign-out"> </a> </span>
            </li>
            <li ng-show="!isUserLoggedIn">
              <a href="/">Αρχική Σελίδα <span class="icon-bar fa fa-home"> </a> </span>
            </li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
    </br>
    </br>
    </br>
    </br>


    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3" >
          <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

<form class="form-horizontal" ng-submit="sendMail()">
<fieldset>

<!-- Form Name -->
<legend>Για οποιοδήποτε πρόβλημα μπορείται να επικοινωνήσεται μαζί μας με την παρακάτω φόρμα </legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="email">Email:</label>
  <div class="col-md-8">
  <input id="email" name="email" type="email" ng-model="email" placeholder="Δώστε ένα έγκυρο Emai" class="form-control input-md" required="">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="title">Τίτλος Email:</label>
  <div class="col-md-8">
  <input id="title" name="title" type="text" ng-model="title" placeholder="Δώστε ένα τίτλο για το email" class="form-control input-md" required="">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="user">Χρήστης:</label>
  <div class="col-md-8">
  <input id="user" name="user" type="text" placeholder="Δώστε το όνομα χρήστη του λογαριασμού σας" ng-disabled="isUserLoggedIn" ng-model="fullName" class="form-control input-md" required="">

  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="message">Μύνημα:</label>
  <div class="col-md-8">
    <textarea class="form-control" ng-model="message" rows="6" id="message" name="message"></textarea>
  </div>
</div>

<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submitButton"></label>
  <div class="col-md-8">
    <button id="submitButton" ng-disabled="busyButton" type="submit" name="submitButton" class="btn btn-success">Αποστολή</button>
    <button id="resetButton" ng-click="resetForm()" name="resetButton" class="btn btn-danger">Καθαρισμός Φόρμας</button>
  </div>
</div>

</fieldset>
</form>


        </div>

      </div><!--/row-->

    </div><!--/.container-->
  </body>

