  <body>
   <div ng-controller="DiogenisLoginCtrl">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Diogenis</a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" ng-model="personEmail" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" ng-model="personPassword" placeholder="Password" class="form-control">
            </div>
            <button type="submit"  ng-click="requestLogin(personEmail, personPassword)" class="btn btn-success">Είσοδος</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container container-sm-height">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        <p>&nbsp</p>
        <div class="row">
          <div class="col-sm-4 col-md-4">
            <a href="#" class="thumbnail">
              <img ng-src="vendors/images/students_promo.png" alt="...">
              <div class="caption">
                <p class="text-center"> Ο φοιτητής </p>
                <p class="text-center"> γλιτώνει από το ψάξιμο </p>
              </div>
            </a>
          </div>

          <div class="col-sm-4 col-md-4 col-lg-height">
            <a href="#" class="thumbnail">
              <img ng-src="vendors/images/teachers_promo2.png" alt="...">
              <div class="caption">
                <p class="text-center"> Ο καθηγητής </p>
                <p class="text-center"> κερδίζει χρόνο </p>
              </div>
            </a>
          </div>

          <div class="col-sm-4 col-md-4 col-lg-height">
            <a href="#" class="thumbnail">
              <img ng-src="vendors/images/everyones_happy_promo.png" alt="...">
              <div class="caption">
                <p class="text-center"> Όλοι </p>
                <p class="text-center"> είναι ευχαριστημένοι </p>
              </div>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div><!-- Controller div-->
    <div class="container well">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
        <h2>Τι είναι ο Διογένης;</h2>
          <p class="text-primary">O Διογένης διαχειρίζεται την ηλεκτρονική εγγραφή εργαστηρίων του ΤΕΙ Λάρισας.
          Οι φοιτητές μπορούν να εγγραφούν στα εργαστήρια εύκολα και γρήγορα.
          Οι καθηγητές μπορούν να δημιουργήσουν εργαστηριακές ομάδες ορίζοντας την ημέρα και την ώρα του εργαστηρίου και να διαχειριστούν τους φοιτητές των τμημάτων τους.</p>
        </div>
        <div class="col-md-4">
          <h2>Καθηγητές</h2>
            <p class="text-primary">Ο Διογένης δουλεύει με τα στοιχεία πρόσβασης από τον Διόνυσο.
            Για τους καθηγητές απαιτείται η δημιουργία λογαριασμού από την Γραμματεία του τμήματος.</p>
            <p>&nbsp</p><!-- empty space-->
            <p>&nbsp</p>
       </div>
        <div class="col-md-4">
          <h2>Φοιτητές</h2>
            <p class="text-primary">Ο Διογένης δουλεύει με τα στοιχεία πρόσβασης από τον Διόνυσο.
            Η εγγραφή γίνεται αυτόματα με την πρώτη είσοδο στο σύστημα με τα στοιχεία του Διόνυσο</p>
            <p>&nbsp</p><!-- empty space -->
            <p>&nbsp</p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Diogenis 2014</p>
      </footer>
    </div> <!-- /container -->
  </body>

