<div class="row">
<div class="large-12 columns">
    <div class="panel">
    <h1>Feed Template</h1>
    </div>
</div>
</div>

<div class="row">
<div class="large-12 columns ">
    <tabset vertical="true" type="navType">
        <tab heading="Vertical 1">

            <div ng-controller="AlertComponentCtrl">
                <alert ng-show="teacherExists" ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
            </div>
            <li ng-repeat="teacher in teachers">
                <a> {{teacher.username}}</a>
                <a> {{teacher.name}}</a>
            </li>


            <div ng-controller="ModalDemoCtrl">
                <script type="text/ng-template" id="myModalContent.html">

                    <form name="myForm" class="myForm">
                        <div class="row">

                            <div class="row">
                                    <div class="large-6 columns">
                                        <div class="small-3 columns"> <label class="inline">Email teacher</label> </div>
                                        <div class="small-9 columns"> <input name= "teacherEmail" ng-model="teacherEmail" type="email" required placeholder="Email teacher" class="error" />
                                            <small ng-show="myForm.teacherEmail.$error.required" class="error">Enter an email</small>
                                            <small ng-show="myForm.teacherEmail.$error.email" class="error">Invalid EMail</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="large-6 columns">
                                        <div class="small-3 columns"> <label class="inline">Name of teacher</label> </div>
                                        <div class="small-9 columns"> <input name="teacherName" ng-model="teacherName" type="text" required placeholder="Name teacher" class="error" />
                                            <small ng-show="!myForm.teacherName.$valid" class="error">Enter the name of the teacher</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="large-6 columns">
                                        <div class="small-3 columns"> <label class="inline">Password</label> </div>
                                        <div class="small-9 columns"> <input type="text" ng-model="Password" placeholder="Password" class="error" />
                                            <small ng-show="Password !== confirmPassword" class="error">Passwords doesn't match</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="large-6 columns">
                                        <div class="small-3 columns"> <label class="inline">Password Confirmation</label> </div>
                                        <div class="small-9 columns"> <input type="text" ng-model="confirmPassword" placeholder="Password Confirmation" class="error" />
                                            <small ng-show="Password !== confirmPassword" class="error">Passwords doesn't match</small>
                                        </div>
                                    </div>
                                </div>

                                <button class="button" ng-show="myForm.$valid" ng-click="ok(teacherEmail, teacherName)">Create New Teacher</button>
                                <button class="button disabled" ng-show="!myForm.$valid">Please fix your errors before you procced</button>

                        </div>
                    <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
                </script>

                <button type="button" class="button" ng-model="singleModel" ng-click="open()">
                    Add Teacher
                </button>
            </div>
        </tab>
        <tab heading="Vertical 2">Vertical content 2</tab>
    </tabset>
</div>

<footer class="row">
<div class="large-12 columns">
    <hr/>
    <div class="row">
    <div class="large-5 columns">
        <p>© Copyright no one at all. Go to town.</p>
    </div>
    <div class="large-7 columns">
        <ul class="inline-list right">
        <li><a href="#">Section 1</a></li>
        <li><a href="#">Section 2</a></li>
        <li><a href="#">Section 3</a></li>
        <li><a href="#">Section 4</a></li>
        <li><a href="#">Section 5</a></li>
        <li><a href="#">Section 6</a></li>
        </ul>
    </div>
    </div>
</div>
</footer>
