<div class="row">
<div class="large-12 columns">
    <div class="panel">
    <h1>Feed Template</h1>
    </div>
</div>
</div>

<div class="row">
<div class="large-12 columns ">
    <tabset vertical="true" type="navType">
        <tab heading="Vertical 1">Vertical content 1</tab>
        <tab heading="Vertical 2">Vertical content 2</tab>
    </tabset>
</div>

<footer class="row">
<div class="large-12 columns">
    <hr/>
    <div class="row">
    <div class="large-5 columns">
        <p>© Copyright no one at all. Go to town.</p>
    </div>
    <div class="large-7 columns">
        <ul class="inline-list right">
        <li><a href="#">Section 1</a></li>
        <li><a href="#">Section 2</a></li>
        <li><a href="#">Section 3</a></li>
        <li><a href="#">Section 4</a></li>
        <li><a href="#">Section 5</a></li>
        <li><a href="#">Section 6</a></li>
        </ul>
    </div>
    </div>
</div>
</footer>
