<div class="modal-header">
      <h3 class="modal-title">Δημιουργία Αίθουσας</h3>
    </div>
    <div class="modal-body">
<form name="myForm" class="form-horizontal">
<fieldset>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="name">Όνομα Αίθουσας</label>
  <div class="col-md-5">
  <input id="name" name="name" type="name" ng-model="name" placeholder="Όνομα Μαθήματος" class="form-control input-md" required="">
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" type="submit" ng-click="myForm.$valid ?
    ok(data = {
      'type': 'classroom',
      'url': 'classroom/create',
      'name': name }) : return">
  Δημιουργία Αίθουσας</button>
  <button class="btn btn-warning" ng-click="cancel()">Ακύρωση</button>
</div>

</fieldset>
</form>

