    <div class="modal-header">
      <h3 class="modal-title">Δημιουργία Καθηγητή</h3>
    </div>
    <div class="modal-body">

<form name="myForm" class="form-horizontal">
<fieldset>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="email">Email/Username</label>
  <div class="col-md-5">
  <input id="email" name="email" type="email" ng-model="email" placeholder="Email/Username" class="form-control input-md" required="">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="name">Ονοματεπώνυμο</label>
  <div class="col-md-5">
  <input id="name" name="fullName" ng-model="fullName" type="text" placeholder="Ονοματεπώνυμο" class="form-control input-md" required="">

  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="password">Κωδικός</label>
  <div class="col-md-5">
    <input id="password" ng-model="password" name="password" type="password" placeholder="Κωδικός" class="form-control input-md" required="">
    <span class="label label-danger" ng-show="(password && confirmPassword && password != confirmPassword)" class="help-block">Οι κωδικοί δεν ταιριάζουν</span>
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="confirmpassword">Επαλύθευση κωδικού</label>
  <div class="col-md-5">
    <input id="confirmpassword" ng-model="confirmPassword" name="confirmpassword" type="password" placeholder="Επαλύθευση κωδικού" class="form-control input-md" required="">
    <span class="label label-danger" ng-show="(password && confirmPassword && password != confirmPassword)" class="help-block">Οι κωδικοί δεν ταιριάζουν</span>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" type="submit" ng-click="(myForm.$valid && !myForm.$error.required && password == confirmPassword) ?
    ok(data = {
      'type': 'teacher',
      'url': 'teacher/create',
      'email': email,
      'fullName' : fullName,
      'password' : password }) : return">
  Δημιουργία Καθηγητή</button>
  <button class="btn btn-warning" ng-click="cancel()">Ακύρωση</button>
</div>

</fieldset>
</form>


