<div class="modal-header">
      <h3 class="modal-title">Δημιουργία Εργαστηρίου</h3>
    </div>
    <div class="modal-body">
<form name="myForm" class="form-horizontal">
<fieldset>

<div class="form-group">
  <label class="col-md-4 control-label" for="teacherSelection">Καθηγητής</label>
  <div class="col-md-5">
    <select id="teacherSelection" ng-change="findCurrentLessonsForTeacher(currentTeacher)" ng-model="currentTeacher" ng-options="teacher.name for teacher in teacherList" name="teacherSelection" class="form-control" required>
    </select>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="classroomSelection">Αίθουσα</label>
  <div class="col-md-5">
    <select id="teacherSelection" ng-model="currentClassroom" ng-options="classroom.name for classroom in classroomList" name="currentClassroom" class="form-control" required>
    </select>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="lessonSelection">Μάθημα</label>
  <div class="col-md-5">
    <select id="lessonSelection" ng-model="currentLesson" ng-options="lesson.name for lesson in currentLessonList" name="lessonSelection" class="form-control" required>
    </select>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="daySelection">Ημέρα</label>
  <div class="col-md-5">
    <select
      id="daySelection" ng-model="currentDay" ng-options="currentDay.name for currentDay in days" name="daySelection" class="form-control" required>

    </select>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="timestartSelection">Ώρα Έναρξης Εργαστηρίου</label>
  <div class="col-md-5">

    <select id="timestartSelection" ng-model="currentTimeStart" ng-options="i for i in timeStart" name="timestartSelection" class="form-control" required>
    </select>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="timeendSelection">Ώρα Λήξης Εργαστηρίου</label>
  <div class="col-md-5">
    <select id="timeendSelection" ng-model="currentTimeEnd" ng-options="i for i in timeStart | gt:currentTimeStart[0]" name="timeendSelection" class="form-control" required>
    </select>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="timeendSelection">Τύπος Εργαστηρίου</label>
  <div class="col-md-5">
    <button ng-init="singleModel=false" type="btn-primary button" ng-class="{'btn-success': singleModel, 'btn-info': !singleModel}"
      class="btn" ng-model="singleModel" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
      {{singleModel? 'Καταμέτρηση Παρουσιών' : 'Καταμέτρηση Απουσιών'}} </button>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="limitSelection">Μέγεθος Εργαστηρίου</label>
  <div class="col-md-5">
      <input id="limit" name="limit" type="name" ng-model="limit" placeholder="Όριο Εργαστηρίου" class="form-control input-md" required="">
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" type="submit" ng-click="myForm.$valid ?
    ok(data = {
      'type': 'lab',
      'url': 'lab/create',
      'teacher': currentTeacher,
      'classroom': currentClassroom,
      'lesson': currentLesson,
      'day': currentDay,
      'starttime': currentTimeStart,
      'endtime': currentTimeEnd,
      'recordspresence': singleModel,
      'limit': limit,
      'teacherList': teacherList,
      'lessonList': lessonList,
      'classroomList': classroomList,
      'dayList': days
      }) : return">
  Δημιουργία Εργαστηρίου</button>

  <button class="btn btn-warning" ng-click="cancel()">Ακύρωση</button>
</div>

</fieldset>
</form>

