<div class="modal-header">
      <h3 class="modal-title">Δημιουργία Μαθήματος</h3>
    </div>
    <div class="modal-body">
<form name="myForm" class="form-horizontal">
<fieldset>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="name">Όνομα Μαθήματος</label>
  <div class="col-md-5">
  <input id="name" name="name" type="name" ng-model="name" placeholder="Όνομα Μαθήματος" class="form-control input-md" required="">
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="teacherSelection">Καθηγητής</label>
  <div class="col-md-5">
    <div multi-select
      input-model="teacherListCheckBox"
      button-label="icon name"
      item-label="icon name email"
      tick-property="ticked">
    </div>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" type="submit" ng-click="myForm.$valid ?
    ok(data = {
      'type': 'lesson',
      'url': 'lesson/create',
      'name': name,
      'teacherListCheckBox': teacherListCheckBox }) : return">
  Δημιουργία Μαθήματος</button>
  <button class="btn btn-warning" ng-click="cancel()">Ακύρωση</button>
</div>

</fieldset>
</form>

