<div ng-controller="ModalDemoCtrl">

<div class="container">
  <div class="row">
    <div class="col-md-9 col-md-9">
      <button class="btn btn-primary" ng-click="open('partials/modals/create_teacher.html')">Δημιουργήστε Καθηγητή</button>
      <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
      <div class="gridStyle" ng-show="teacherList"  external-scopes="gridActions" ui-grid="gridPossibleOptions.gridTeacher"></div>
    </div>
  </div>
</div>
</div>


