<div ng-controller="ModalDemoCtrl">

<div class="container">
  <div class="row">
    <div class="col-md-9 col-md-9">
      <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
      <div id="myGrid" ng-show="gridTmimata" class="gridStyleBig" ui-grid-resize-columns ui-grid="gridPossibleOptions.gridLabStudent"></div>

        <div id="myGrid" ng-show="gridTmimata" ng-repeat="grid in gridTmimata" class="gridStyleBig" ui-grid-resize-columns ui-grid="grid"></div>


      </br>
      <i ng-show="!gridTmimata" class='fa fa-spinner fa-5x fa-spin'></i>
    </div>
  </div>
</div>
</div>
